.root {
  overflow-x: hidden;
  position: relative;
  background-image: url(./assets/beacon.jpg);
  background-size: cover;
}

.display-timer {
  color: white;
}
.display-timer>span {
  font-size: 5rem;
}