.root {
  overflow-x: hidden;
  /* height: 200vh; */
  position: relative;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.display-timer {
  /* box-shadow: inset 0 0 20px rgba(0,0,0,0.3); */
  color: white;
  backdrop-filter: blur(10px) drop-shadow(2px 2px 5px white);
}
.display-timer>span {
  font-size: 5rem;
}